*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background-color: rgb(181, 179, 183);
    align-items:center ;
    justify-content: center;
    display: flex;
    height: 100vh;
}
.container{
    background-color: #917bb4;
    border-radius: 12px;
    box-sizing: 0  2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}
.header{
  background-color: #917bb4;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 30px;
}
.header h2{
    margin: 0;
}
.form{
    padding: 30px 40px ;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
}
.form-control label{
    display: inline-block;
    margin-bottom: 8px;
    margin-top: 5px;
}
.form-control input{
    display: block;
    border: 2px solid #f0f0f0;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}
.form button{
    background-color: green;
    border:  2px solid green;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}